<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="2;<%=data.url%>" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=data.name%></title>
</head>
<body>
    <p><%=data.desc%></p>
</body>
</html>